Django==4.2.13
djangorestframework==3.15.1
gunicorn==22.0.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
python-dotenv==1.0.1
PyJWT==2.8.0
cryptography==42.0.5
requests==2.31.0
django-apscheduler==0.6.2
